#!/usr/bin/env ruby


# The first matching rule is used:

layout '*', :erb

# layout '/default/', :slim
# layout '/default/', :haml, format: :html5
# layout %r{^/_.+/$}, :erb
# /default/ may be layouts/default.with-any-extension


compile '/stylesheet/' do
end
route '/stylesheet/' do
  '/style.css'
end


compile '*' do
  unless item.binary?
    filter :erb
    layout 'default'
  end
end
route '*' do
  item.identifier.chop + (item.binary?? ".#{ item[:extension] }" : '/index.html')
end