@wip
Feature: complex multilingual site example (for my pali-canon project)

  Background:
    Given I have a blank wrapped nanoc site
    And the folowing are input files: (they gonna be created soon)
      """
      content/en/index.html
      content/en/about.html
      content/ru/index.html
      content/ru/about.html
      """
    And the folowing are output files: (expected result of nanoc compilation)
      """
      output/en/index.html
      output/en/about.html
      output/ru/index.html
      output/ru/about.html
      """

  Scenario:
    When I successfully compile it
    Then the input files should not exist
    Then the output files should not exist